In [1]:
# import dependencies
import pandas as pd
import numpy as np
import re

In [2]:
# read the file
df=pd.read_csv('movies.csv')

In [3]:
# sample of the file
df.sample(2)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
5485,Kleo,NaN,\nThriller,NaN,\nThe GDR spy Kleo (Jella Haase) killed a busi...,"\n \n Stars:\nJella Haase, \nVla...",NaN,NaN,NaN
3578,Pitta Kathalu,(2021),"\nDrama, Romance",5.0,"\nFour different women, four journeys of love ...","\n Directors:\nNag Ashwin, \nTharun Bhascke...",647,150.0,NaN

In [4]:
# change the column names to lower case
df.columns = df.columns.str.lower()

In [5]:
# check the column names and datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9999 non-null   object
 1   year      9355 non-null   object
 2   genre     9919 non-null   object
 3   rating    8179 non-null   float64
 4   one-line  9999 non-null   object
 5   stars     9999 non-null   object
 6   votes     8179 non-null   object
 7   runtime   7041 non-null   float64
 8   gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

Drop duplicates by the movies column

In [6]:
# check for duplicates
df.duplicated().value_counts()

False    9568
True      431
dtype: int64

In [7]:
duplicated_perc = df.duplicated().value_counts()[1]/df.duplicated().value_counts()[0]*100
print(f"{round(duplicated_perc, 2)}% of the data is duplicated on the 'movie' column")

4.5% of the data is duplicated on the 'movie' column

In [8]:
# drop duplicates and reset the index
df = df.drop_duplicates(subset='movies', keep="first").reset_index(drop=True)

In [9]:
# check for duplicates
df.duplicated().value_counts()

False    6817
dtype: int64

Cleaning the year column. I would extract the first four numeric values as the year

In [10]:
# ger a sample of the year column
df.year.value_counts().index[:20]

Index(['(2020)', '(2019)', '(2018)', '(2017)', '(2020– )', '(2016)', '(2021)',
       '(2021– )', '(2019– )', '(2018– )', '(2015)', '(2014)', '(2013)',
       '(2012)', '(2017– )', '(2017 TV Special)', '(2011)', '(2016– )',
       '(2010)', '(2020 TV Special)'],
      dtype='object')

In [11]:
# extract the first four numeric characters as the year 
df['year'] = df['year'].str.extract(r'(\d{4})')

In [12]:
# convert the year column to integer
df['year'] = df['year'].astype('Int64')

In [13]:
# check the datatype
df.year.dtype

Int64Dtype()

Cleaning the Genre column - extract only the first genre

In [14]:
# view a sample of the genre column
df.genre.value_counts()[:20].index

Index(['\nComedy            ', '\nDrama            ',
       '\nDocumentary            ',
       '\nAnimation, Action, Adventure            ',
       '\nComedy, Drama            ', '\nDrama, Romance            ',
       '\nComedy, Drama, Romance            ',
       '\nAction, Crime, Drama            ',
       '\nAnimation, Adventure, Comedy            ',
       '\nCrime, Drama, Mystery            ', '\nComedy, Romance            ',
       '\nReality-TV            ', '\nAction, Adventure, Drama            ',
       '\nCrime, Drama, Thriller            ', '\nDrama, Thriller            ',
       '\nDocumentary, Comedy            ', '\nDocumentary, Crime            ',
       '\nThriller            ', '\nAction, Crime, Thriller            ',
       '\nCrime, Drama            '],
      dtype='object')

In [15]:
# extract the first genre 
df['genre'] = df['genre'].str.split(',').str[0].str.strip()

In [16]:
# check the values
df.genre.value_counts()

Comedy         1491
Drama          1164
Documentary    1002
Animation       917
Action          821
Crime           394
Adventure       152
Horror          149
Biography       141
Reality-TV      133
Short            66
Thriller         65
Family           52
Romance          37
Game-Show        31
Fantasy          30
Mystery          22
Music            19
Sci-Fi           18
Talk-Show        17
Sport             6
Western           6
News              5
Musical           4
History           2
Film-Noir         1
War               1
Name: genre, dtype: int64

Cleaning the ratings column

In [17]:
# check the values
df.rating.value_counts().index

Float64Index([7.2, 7.1, 7.3, 6.6, 6.5, 7.5, 6.8, 6.7, 7.6, 7.4, 7.0, 6.9, 6.3,
              6.4, 6.2, 7.7, 7.8, 6.1, 5.8, 7.9, 5.9, 6.0, 8.2, 5.7, 8.1, 5.6,
              8.0, 5.5, 8.3, 5.4, 8.4, 5.2, 5.3, 4.8, 8.5, 5.0, 8.6, 4.9, 5.1,
              4.4, 4.7, 4.6, 4.5, 8.7, 4.3, 8.8, 4.1, 4.2, 3.8, 3.6, 3.5, 3.7,
              3.9, 4.0, 3.2, 3.3, 9.1, 8.9, 3.4, 3.1, 9.0, 2.5, 2.7, 2.8, 9.2,
              2.9, 2.6, 3.0, 2.1, 9.3, 9.4, 2.3, 2.2, 1.1, 2.0, 2.4, 1.8],
             dtype='float64')

The ratings column appear to be clean. All values are between 0 and 10. Considering that it is average ratings, the decimals are allowed.

Cleaning the one-line column

In [18]:
# check the values
df['one-line'].sample(3)

1945    \nSince his rise to power, Mathayus' kingdom h...
5084    \nWho says the world works the way grown ups t...
5249    \nIn a far away forgotten valley, heaped with ...
Name: one-line, dtype: object

In [19]:
# replace the \n character with a space
df['one-line'] = df['one-line'].str.replace('\n', '')

In [20]:
# check a sample of the column
df['one-line'].sample(2)

1982    Some of Britain's most skilled restoration exp...
1487    Ramón Alvia is a professional boxer who, altho...
Name: one-line, dtype: object

Cleaning the stars column

In [21]:
# check the initial values
df.stars

0       \n    Director:\nPeter Thorwarth\n| \n    Star...
1       \n            \n    Stars:\nChris Wood, \nSara...
2       \n            \n    Stars:\nAndrew Lincoln, \n...
3       \n            \n    Stars:\nJustin Roiland, \n...
4       \n    Director:\nMatthias Schweighöfer\n| \n  ...
                              ...
6812    \n            \n    Stars:\nMorgan Taylor Camp...
6813    \n    Director:\nTima Shomali\n| \n    Stars:\...
6814    \n    Director:\nNicolai Rohde\n| \n    Stars:...
6815                                                   \n
6816    \n    Director:\nOrlando von Einsiedel\n| \n  ...
Name: stars, Length: 6817, dtype: object

In [22]:
# replace the \n character with a space
df['stars'] = df['stars'].str.replace('\n', '')

# strip the leading and trailing spaces
df['stars'] = df['stars'].str.strip()


# separate the director and stars
# Director:(.*?)\| captures the text after "Director:" and before the "|" symbol
df['director'] = df['stars'].str.extract(r'Director:(.*?)\|', flags=re.IGNORECASE)[0].str.strip()

#Stars:(.*) captures the text after "Stars:" as the stars information.
df['stars'] = df['stars'].str.extract(r'Stars:(.*)', flags=re.IGNORECASE)[0].str.strip()

Cleaning the Votes column

In [23]:
df.votes

0        21,062
1        17,870
2       885,805
3       414,849
4           NaN
         ...
6812        NaN
6813        NaN
6814        NaN
6815        NaN
6816        NaN
Name: votes, Length: 6817, dtype: object

In [24]:
# remove comma and convert to integer
df['votes'] = df['votes'].str.replace(',', '').astype('Int64')

In [25]:
# check the values
df.votes

0        21062
1        17870
2       885805
3       414849
4         <NA>
         ...
6812      <NA>
6813      <NA>
6814      <NA>
6815      <NA>
6816      <NA>
Name: votes, Length: 6817, dtype: Int64

In [26]:
# check the datatype
df.votes.dtype

Int64Dtype()

Cleaning the runtime column.

In [27]:
# check the initial values
df.runtime.value_counts()[:10]

60.0     279
30.0     186
90.0     165
24.0     157
45.0     128
        ...
12.0      12
135.0     12
15.0      12
32.0      11
10.0      10
Name: runtime, Length: 114, dtype: int64

In [28]:
# convert the runtime to an integer
df['runtime'] = df['runtime'].astype('Int64')

In [29]:
# check the values
df.runtime.value_counts()[:10]

60     279
30     186
90     165
24     157
45     128
23      99
50      94
100     89
95      89
25      87
Name: runtime, dtype: Int64

Cleaning the gross column

In [30]:
# check the initial values
df.gross.value_counts().index

Index(['$0.01M', '$0.02M', '$0.00M', '$0.03M', '$0.04M', '$0.08M', '$0.05M',
       '$0.10M', '$0.15M', '$0.09M',
       ...
       '$181.17M', '$77.22M', '$18.34M', '$97.10M', '$486.30M', '$37.77M',
       '$44.82M', '$21.36M', '$54.76M', '$10.40M'],
      dtype='object', length=328)

In [31]:
# remove '$' and 'M', and convert to million
df['gross'] = df['gross'].str.replace('$', '', regex=True)\
                        .str.replace('M', '', regex=True)\
                        .astype(float)\
                        .mul(1e6)

In [32]:
# check the values
df.gross.value_counts().index

Float64Index([    10000.0,     20000.0,         0.0,     30000.0,     40000.0,
                  80000.0,     50000.0,    100000.0,    150000.0,     90000.0,
              ...
              181170000.0,  77220000.0,  18340000.0,  97100000.0, 486300000.0,
               37770000.0,  44820000.0,  21360000.0,  54760000.0,  10400000.0],
             dtype='float64', length=328)

Save the cleaned data

In [33]:
# view a sample of the data
df.sample(10)

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,director
719,I Am Mother,2019,Drama,6.7,"In the wake of humanity's extinction, a teenag...","Luke Hawker, Rose Byrne, Maddie Lenton, Hazel ...",81421,113,NaN,Grant Sputore
4369,Alien TV,2020,Animation,6.2,"Alien reporters Ixbee, Pixbee and Squee travel...","John Cleland, Rupert Degas, Kyle Dooley, Julie...",228,<NA>,NaN,NaN
4513,The Magic School Bus Rides Again in the Zone,2020,Animation,5.6,Ms. Frizzle's class sees every show on a pop s...,"Kate McKinnon, Birva Pandya, Mikaela Blake, Ga...",41,46,NaN,Richard Weston
1876,Cat People,2021,Documentary,6.2,CAT PEOPLE tells the stories of some of the mo...,NaN,152,<NA>,NaN,NaN
3039,Stranded in Paradise,2014,Comedy,5.5,When a driven HR exec loses her high-powered j...,"Vanessa Marcil, James Denton, Cindy Pickett, G...",1573,86,NaN,Bert Kish
4885,Gek van geluk,2017,Comedy,5.4,"In 'Gek van Geluk', Plien van Bennekom steps i...","Plien van Bennekom, Matteo van der Grijn, Carl...",341,106,NaN,Johan Nijenhuis
4349,Film Kteer Kbeer,2015,Action,7.1,"Intending to smuggle drugs across the borders,...","Alain Saadeh, Fouad Yammine, Wissam Fares, Tar...",1346,107,NaN,Mir-Jean Bou Chaaya
96,The Ice Road,2021,Action,5.6,After a remote diamond mine collapses in far n...,"Liam Neeson, Marcus Thomas, Laurence Fishburne...",20561,109,NaN,Jonathan Hensleigh
1715,El fotógrafo de Mauthausen,2018,Biography,6.8,"Based on real events, Francesc Boix is a Spani...","Mario Casas, Richard van Weyden, Alain Hernánd...",9308,110,NaN,Mar Targarona
6131,Willie Barcena: The Truth Hurts,2016,Comedy,6.3,"Performing live in El Paso, Texas, veteran com...",NaN,77,60,NaN,NaN

In [34]:
# export the data to csv file
df.to_csv('movies_cleaned.csv', index=False)